node_modules
public
resources
.netlify
.hugo_build.lock

.env

.vscode
.idea

# We want to ignore our StylesPath *except* for our local
# `Vocab/Base` folder.
.github/styles/*
!.github/styles/Vocab/Base
