<meta property="og:locale" content="{{ .Site.Params.ogLocale }}" />
<meta
  property="og:type"
  content="{{ if .IsPage }}article{{ else }}website{{ end }}"
/>
<meta property="og:title" content="{{ .Title }}" />
<meta
  property="og:description"
  content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}"
/>
<meta
  property="og:image"
  content="https://user-images.githubusercontent.com/8785025/167473311-6de8c59b-ccb3-41e1-b887-4a17b2cb74fd.png"
/>
<meta property="og:url" content="{{ .Permalink }}" />

{{ with $.Site.Params.images -}} {{ $.Scratch.Set "primaryImage" (index . 0 |
absURL) -}} {{ end -}} {{ with .Params.audio -}}
<meta property="og:audio" content="{{ . | absURL }}" />
{{ end -}} {{ with .Params.videos -}} {{ range . -}}
<meta property="og:video" content="{{ . | absURL }}" />
{{ end -}} {{ end -}}
