<div class="card h-100 hub-card">
  <div class="card-header">
    <div class="avatar avatar-vertical">
      <a href="{{ .RelPermalink }}" target="_blank">
        <img class="avatar-photo" src='https://github.com/{{ urlize .Params.org }}.png' alt="{{ .Params.title }}'s avatar">
      </a>
    </div>
    <div class="avatar-intro">
      <h4 class="avatar-name">
        {{ .Params.title }}
      </h4>
    </div>
  </div>
  <div class="card-body">
    <h5 class="card-title mt-1"><a class="card-link stretched-link text-dark text-decoration-none" href="{{ .RelPermalink }}"></a></h5>
    <h6 class="card-subtitle mb-2 text-muted">{{ if .Params.types -}}<small>{{ range $index, $type := .Params.types }}{{ if gt $index 0 }}, {{ end }}{{ . | humanize }}{{ end -}}</small>{{ end -}}</h6>
    <p class="card-text mb-2 description">{{ .Params.lead | markdownify }}</p>
  </div>
</div>
