#player {
  padding-bottom: 5px;
}

.w-10 {
  width: 2.5rem;
}

.h-10 {
  height: 2.5rem;
}

.result-tag {
  margin-right: 2px;
}

.docs.list .content {
  padding-top: 0;
  padding-bottom: 0;
}

mark {
  background: rgba(245, 194, 191, 0.7);
  padding: 0.2em 0.3em;
  margin: 0 0.25em;
  line-height: 1;
  display: inline-block;
  border-radius: 0.25em;
}

.asciinema-player-wrapper {
  padding-bottom: 10px;
}

.example-wrapper {
  background: #fbf7f0;
  line-height: 2;
  white-space: pre;
  padding: 1em;
  font-family: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 0.875rem;
  overflow-x: auto;
}

[data-dark-mode] .example-wrapper {
  background: #0b0d11;

  /* color: #dee2e6; */
}

#editor {
  height: 200px;
}

.click {
  cursor: pointer;
}

.no-gutter {
  --bs-gutter-x: 0;
}

.hub-card:hover {
  transform: scale(1.025);
}

.hub-card {
  transition: transform 0.3s;
}

.description {
  font-size: 1rem;
}

.avatar-vertical {
  --ifm-avatar-intro-alignment: center;
  --ifm-avatar-intro-margin: 0.5rem;

  align-items: center;
  flex-direction: column;
}

.avatar {
  display: flex;
}

.avatar-photo {
  border-radius: 5%;
}

.avatar-photo {
  margin-top: 1rem;
  height: 6rem;
  width: 6rem;
  overflow: hidden;
}

.avatar-intro {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

h2 code {
  font-size: 1.125rem;
  border-radius: 0.25rem;
}

table {
  margin: 1rem 0;
}

blockquote {
  font-size: 1.125rem;
}

figure {
  margin: 0;
}

body pre > code {
  border-radius: 0 !important;
}

body code:not(.hljs) {
  border-radius: 6px;
}

[data-dark-mode] .card-header {
  border-bottom: 1px solid #1b1f22;
}

[data-dark-mode] .card-footer {
  border-top: 1px solid #1b1f22;
}

[data-dark-mode] body code:not(.hljs) {
  background: #161b22;
  color: #dee2e6;
}

[data-dark-mode] .nav-tabs .nav-link.active,
[data-dark-mode] .nav-tabs .banner .nav a.active,
[data-dark-mode] .banner .nav .nav-tabs a.active,
[data-dark-mode] .nav-tabs .nav-item.show .nav-link,
[data-dark-mode] .nav-tabs .nav-item.show .banner .nav a,
[data-dark-mode] .banner .nav .nav-tabs .nav-item.show a,
[data-dark-mode] .nav-tabs .banner .nav li.show .nav-link,
[data-dark-mode] .nav-tabs .banner .nav li.show a,
[data-dark-mode] .banner .nav .nav-tabs li.show .nav-link,
[data-dark-mode] .banner .nav .nav-tabs li.show a {
  /* color: #dee2e6; */
  background-color: #161b22;
  border-color: #1b1f22;
}

[data-dark-mode] .nav-tabs .nav-link:hover,
[data-dark-mode] .nav-tabs .banner .nav a:hover,
[data-dark-mode] .banner .nav .nav-tabs a:hover,
[data-dark-mode] .nav-tabs .nav-link:focus,
[data-dark-mode] .nav-tabs .banner .nav a:focus,
[data-dark-mode] .banner .nav .nav-tabs a:focus {
  border-color: #1b1f22;
  isolation: isolate;
}

[data-dark-mode] .nav-link:hover,
[data-dark-mode] .banner .nav a:hover,
[data-dark-mode] .nav-link:focus,
[data-dark-mode] .banner .nav a:focus {
  color: #8ed6fb;
}

[data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #fff;
}

[data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  border-bottom: 1px solid #0b0d11;
  color: #fff;
}

[data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion {
  background-color: #161b22;
  color: #fff;
}

[data-dark-mode] .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
  border: 1px solid #0b0d11;
  background: #161b22;
}

[data-dark-mode] .algolia-autocomplete .ds-dropdown-menu::before {
  background: #161b22;
  border-top: 1px solid #0b0d11;
  border-right: 1px solid #0b0d11;
}

[data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion--content::before,
[data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column::before {
  background: #0b0d11;
}

@media (max-width: 768px) {
  [data-dark-mode] .algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column {
    color: #a4a7ae;
  }
}

:root {
  --aa-primary-color-rgb: 153, 217, 140;
}

[data-dark-mode] {
  --aa-background-color-rgb: 13, 15, 20;
  --aa-icon-color-rgb: 142, 214, 251;
  --aa-primary-color-rgb: 142, 214, 251;
}

/* Panel section */
.aa-PanelSections {
  column-gap: var(--aa-spacing);
  display: flex;
}

.aa-PanelSection {
  display: flex;
  flex-direction: column;
}

.aa-PanelSection--left {
  width: 50%;
}

.aa-PanelSection--right {
  width: 50%;
}

.resource-img {
  width: 100%;
  height: 25vw;
  object-fit: cover;
}

.info-line {
  text-decoration: underline solid #99d98c;
  text-decoration-line: underline;
  -webkit-text-decoration-line: underline;
  text-decoration-color: #99d98c;
  -webkit-text-decoration-color: #99d98c;
}
