{{ define "main" }}
<section class="section container-fluid mt-n3 pb-0">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">
        <b>Vale</b> is an open-source, command-line tool (<i
          class="fab fa-apple"
        ></i
        >, <i class="fab fa-windows"></i>, and <i class="fab fa-linux"></i>)
        that brings <i>your</i> editorial style guide to life.
      </p>
      <a
        class="btn btn-primary btn-lg px-4 mb-4"
        href="/docs/vale-cli/introduction/"
        role="button"
        >Get Started</a
      >
      <a
        class="btn btn-lg btn-link mb-4"
        href="https://opencollective.com/vale"
        target="_blank"
        >Become a sponsor <i class="fas fa-chevron-right fa-sm"></i
      ></a>
    </div>
    <div class="justify-content-center text-center">
      <img
        alt="Image"
        src="/images/vale/mac.png"
        style="width: 80%; max-width: 600px"
      />
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm bg-light">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4"><i class="fas fa-rocket"></i> Native Performance</h2>
        <p>
          Vale compiles into a fast, dependency-free binary for macOS, Windows,
          and Linux.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4"><i class="fas fa-cog"></i> Extensible</h2>
        <p>
          Vale helps you maintain a consistent and on-brand voice by allowing
          you to create your own custom rules.
        </p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">
          <i class="fas fa-shield-alt"></i> Private &amp; Secure
        </h2>
        <p>
          Vale runs entirely offline&mdash;ensuring that your content is never
          sent to a remote server for processing.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="section section-sm" id="users">
  <div class="container">
    <div class="row row-cols-3 row-cols-sm-4 row-cols-md-6 row-cols-lg-8">
      {{- range $i, $post := .Site.Data.configs -}}
      <div class="col-span-1 flex justify-center py-2 px-2 text-center">
        <a href="{{ $post.source }}" rel="noreferrer" target="_blank">
          <img
            class="inline-block h-10 w-10"
            src="/images/users/{{ $post.name }}.png"
          />
          <div class="text-xs py-2 text-secondary">{{ $post.name }}</div>
        </a>
      </div>
      {{- end -}}
    </div>
  </div>
</section>

<section class="section section-sm">
  <div class="container-fluid">
    <div class="row justify-content-center text-center section-intro">
      <div class="col-12 col-md-9 col-lg-8">
        <h2>More than a CLI</h2>
      </div>
      <!--end of col-->
    </div>
  </div>
  <div class="container-fluid">
    <ul class="feature-list feature-list-lg">
      <li class="row justify-content-around align-items-center">
        <div class="col">
          <img
            alt="Image"
            class="img-fluid rounded"
            src="/images/vale/dash.png"
          />
        </div>
        <!--end of col-->
        <div class="col">
          <h5>A desktop app</h5>
          <p>
            Vale Server is a native desktop application that allows you to
            manage and switch between different configurations for each of your
            writing projects.
          </p>
          <a href="/docs/vale-server/introduction/"
            >More about Vale Server &rsaquo;</a
          >
        </div>
        <!--end of col-->
      </li>
      <li class="row justify-content-around align-items-center">
        <div class="col order-lg-2">
          <img
            alt="Image"
            class="img-fluid rounded"
            src="/images/vale/github.png"
          />
        </div>
        <!--end of col-->
        <div class="col order-lg-1">
          <h5>Third-party integrations</h5>
          <p>
            Vale integrates with many applications, including Chrome, VS Code, and Google Docs.
          </p>
          <a href="/docs/integrations/guide/"
            >More about integrations &rsaquo;</a
          >
        </div>
        <!--end of col-->
      </li>
    </ul>
  </div>
  <!--end of container-->
</section>
<!--end of section-->

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col">
        <h2>Sponsors &amp; Supporters</h2>
        <script src='https://opencollective.com/vale/banner.js?style={"a":{"display":"none"}, "h2": {"display":"none"}}'></script>
      </div>
    </div>
  </div>
</section>

{{ end }}
