{{ define "main" }}
<div class="row flex-xl-nowrap">
   <main class="docs-content col-12 mx-auto">
      <h1 class="text-center">{{ .Title }}</h1>
      <p class="lead text-center">{{ .Params.lead | safeHTML }}</p>
      <div class="card">
         <div class="card-body">
            <form id="cfg-gen">
               <div class="row mb-3">
                  <label class="form-label" for="base-style">
                  Base style <i
                    class="fa fa-question-circle"
                    data-bs-content="A 'base' style is a comprehensive style guide that serves as a starting point for an in-house style. You generally should only use one at a time."
                    data-bs-toggle="popover"
                    data-bs-trigger="hover"></i>
                  </label>
                  <div class="col">
                     <select aria-label="Default select example" class="form-select" id="base-style">
                        <option selected value="None">Skip for now</option>
                        <option value="Microsoft">Microsoft Writing Style Guide</option>
                        <option value="Google">Google Developer Documentation Style Guide</option>
                        <option value="RedHat">Red Hat Documentation Style Guide</option>
                     </select>
                  </div>
               </div>
               <div class="row mb-3">
                  <label class="form-label" for="comp-style">
                  Supplementary styles <i
                    class="fa fa-question-circle"
                    data-bs-content="A 'supplementary' style is a smaller, more specific style that can be used alongside a base style."
                    data-bs-toggle="popover"
                    data-bs-trigger="hover"></i>
                  </label>
                  <div class="col">
                     <select aria-label="multiple select example" class="form-select" id="comp-style" multiple>
                        <option value="proselint">proselint</option>
                        <option value="write-good">write-good</option>
                        <option value="alex">alex</option>
                        <option value="Readability">Readability</option>
                        <option value="Joblint">Joblint</option>
                     </select>
                  </div>
               </div>
               <div class="row mb-3">
                  <label class="form-label" for="ssg">
                  Static Site Generator <i
                    class="fa fa-question-circle"
                    data-bs-content="These are generator-specific configurations for Vale (typically handling details like non-standard markup)."
                    data-bs-toggle="popover"
                    data-bs-trigger="hover"></i>
                  </label>
                  <div class="col">
                     <select aria-label="Default select example" class="form-select" id="ssg">
                        <option selected value="None">None</option>
                        <option value="Hugo">Hugo</option>
                     </select>
                  </div>
               </div>
               <!--<div class="row mb-3">
                  <label for="house" class="form-label">
                  Style name <i
                    class="fa fa-question-circle pointer"
                    data-bs-toggle="popover"
                    data-bs-trigger="hover"
                    data-bs-content="This is the name of your custom style. It should be a single, alphanumeric word (usually capitalized) that doesn't conflict with an official package name."></i>
                  </label>
                  <div class="col">
                     <input id="house" type="text" class="form-control" id="inputEmail3">
                  </div>
               </div>-->
            </form>
         </div>
         <div class="card-footer p-0">
          <div class="inner" id="editor"></div>
         </div>
      </div>
     <small class="text-muted">
       <b>Tip</b>: After creating your <code>.vale.ini</code> file using the above config, run <code>vale sync</code>
       to initialize it.
     </small>
   </main>
</div>
{{ end }}
