<div id="quickstart">
  <span>pip install spacy</span>
  <span data-qs-os="windows"># this is only shown for Windows users</span>
  <span data-qs-os="windows" data-qs-python="2"># this is only shown for Windows users on Python 2</span>
  <span data-qs-os="linux"># this is only shown for Linux users</span>
  <span data-qs-config="venv" data-qs-python="2">python -m pip install -U virtualenv</span>
  <span data-qs-config="venv" data-qs-python="3">python -m pip install -U venv</span>
  <span data-qs-config="venv" data-qs-python="2">virtualenv .env</span>
  <span data-qs-config="venv" data-qs-python="3">venv .env</span>
  <span data-qs-config="venv" data-qs-os="mac">source .env/bin/activate</span>
  <span data-qs-config="venv" data-qs-os="linux">source .env/bin/activate</span>
  <span data-qs-config="venv" data-qs-os="windows">.env\Scripts\activate</span>
</div>
