<div class="row row-cols-1 row-cols-md-3 g-5">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <i class="fab fa-slack fa-3x"></i>
        <h4 class="mt-4 mb-3">Slack</h4>
        <p>
          Discuss Vale with the
          <a href="https://www.writethedocs.org/slack/" target="_blank"
            >Write the Docs</a
          >
          community in the <code>#testthedocs</code> channel.
        </p>
        <a
          href="https://writethedocs.slack.com/archives/CBWQQ5E57"
          class="btn btn-primary"
          target="_blank"
          >Go to Slack&nbsp;<i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <i class="fab fa-youtube fa-3x"></i>
        <h4 class="mt-4 mb-3">YouTube</h4>
        <p>Get started quickly with guides and tutorials from the community.</p>
        <a
          href="https://www.youtube.com/channel/UCw-GUZljsD4zddL-nppAu9w"
          class="btn btn-primary"
          target="_blank"
          >Go to YouTube&nbsp;<i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <i class="fab fa-discord fa-3x"></i>
        <h4 class="mt-4 mb-3">Discord</h4>
        <p>
          Stay up-to-date with the development news, discussions, and progress.
        </p>
        <a
          href="https://discord.gg/8S6HRxGgGq"
          class="btn btn-primary"
          target="_blank"
          >Go to Discord&nbsp;<i class="fas fa-angle-right"></i
        ></a>
      </div>
    </div>
  </div>
</div>
