<div class="row row-cols-1 row-cols-md-3 g-5">
  <div class="col">
     <div class="card">
        <div class="card-body">
           <i class="fab fa-slack fa-3x"></i>
           <h4 class="mt-4 mb-3">Slack</h4>
           <p>For what reason would it be advisable for me to think about business content?</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
     </div>
  </div>
  <div class="col">
     <div class="card">
        <div class="card-body">
           <i class="fab fa-youtube fa-3x"></i>
           <h4 class="mt-4 mb-3">YouTube</h4>
           <p>For what reason would it be advisable for me to think about business content?</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
     </div>
  </div>
  <div class="col">
     <div class="card">
        <div class="card-body">
           <i class="fab fa-discord fa-3x"></i>
           <h4 class="mt-4 mb-3">Discord</h4>
           <p>For what reason would it be advisable for me to think about business content?</p>
           <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
     </div>
  </div>
</div>
